@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

*{user-select: none;}

body{
    font-family: 'Open Sans', sans-serif;
}
.movebutton{
    position:absolute;
    border:1px solid white;
    background-color: gray;
    color: black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 20px;
    height: 20px;
    font-size:10px;
    line-height: 20px;
    text-align: center;
    box-sizing: border-box;
    
}
.movebutton:hover{
    background-color: lightgray; 
    color: darkgray; 
    box-shadow: 0 0 10px rgba(0,0,0,1);  
}

#user-id{
    position:absolute;
    right:10px;
    top:10px;
}
#position{
    position:absolute;
    right:10px;
    top:40px;
}